$highlight-font: #2c3e50;

/*********************
  Light theme colors
*********************/
$light-font: #2c3e50;
$light-inactive-link: dimgray;
$light-highlight: gold;
$light-selected: skyblue;
$light-background: whitesmoke;
$light-background-main: white;
$light-background-empty: lightgray;
$light-border: lightgray;
$light-button: #e4e4e4;
$light-button-hover: #dae4ee;
$light-scrollbar: lightsteelblue;
$light-scrollbar-track: aliceblue;

/*********************
  Dark theme colors
*********************/
$dark-font: #f1f8ff;
$dark-inactive-link: gray;
$dark-highlight: #debc58;
$dark-selected: #354f85;
$dark-background: #3b3b3b;
$dark-background-main: #292a2d;
$dark-background-empty: #303030;
$dark-border: #4c4c4c;
$dark-button: #5d5d5d;
$dark-button-hover: #535d67;
$dark-scrollbar: #404850;
$dark-scrollbar-track: #2d3237;
